In [3]:
from pathlib import Path
import pandas as pd

pd.set_option("display.precision", 2)

How many rows has the dataframe?
How many columns has the dataframe?
What is the percentage of non-null values in the age column?
How many text columns has the dataframe?
How many men and women are in the dataset?
What is the average age of men and women? On average who is younger?
How many matches are there for each court surface?
Самый старый и самый молодой игрок
Calculate average age, proportion of females and average fare per pclass.
Who is more likely to travel alone men or women? (consider a passenger as travelling alone if he/she has neither siblings/spouse not parents/children)
What is the most popular lastname? firstname? (name column)





1. How many matches are there for each court surface?
2. What is the average match duration (minutes) by surface—on which surface are matches longest?
3. What share of matches ended in 2, 3, or more sets (using best_of and parsing score)?
4. What aьe the average rankings of winners vs. losers (winner_rank, loser_rank)?
5. Is there a relationship between double faults (w_df, l_df) and the likelihood of winning?
6. Does the first-serve percentage (w_1stIn / w_svpt) affect match outcomes?
7. How many break points are saved on average by winners and losers (w_bpSaved, l_bpSaved)?
8. What are the service metric differences (aces, double faults, first-serve %) across surfaces?

In [4]:
from pathlib import Path
import pandas as pd

files = Path(r"D:\DATA SCIENCE NEW\tennis_matches").glob("*.csv")
dfs = (pd.read_csv(f) for f in files)       
df = pd.concat(dfs, ignore_index=True)

df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2015-339,Brisbane,Hard,28,A,20150104,1,105357,NaN,WC,...,31.0,20.0,5.0,8.0,1.0,5.0,153.0,328.0,220.0,221.0
1,2015-339,Brisbane,Hard,28,A,20150104,2,103813,NaN,NaN,...,50.0,26.0,19.0,13.0,3.0,8.0,73.0,689.0,123.0,440.0
2,2015-339,Brisbane,Hard,28,A,20150104,3,105902,NaN,WC,...,37.0,22.0,5.0,8.0,10.0,15.0,125.0,430.0,21.0,1730.0
3,2015-339,Brisbane,Hard,28,A,20150104,4,104871,NaN,NaN,...,38.0,30.0,8.0,10.0,1.0,3.0,31.0,1195.0,72.0,691.0
4,2015-339,Brisbane,Hard,28,A,20150104,5,105373,NaN,NaN,...,62.0,40.0,19.0,15.0,4.0,8.0,34.0,1094.0,110.0,505.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46653,2023-W-FC-2023-QLS-M-SVK-ITA-01,BJK Cup QLS R1: SVK vs ITA,Hard,4,D,20230414,3,203533,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,96.0,681.0,66.0,841.0
46654,2023-W-FC-2023-QLS-M-SVK-ITA-01,BJK Cup QLS R1: SVK vs ITA,Hard,4,D,20230414,4,214149,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,127.0,522.0,51.0,1076.0
46655,2023-W-FC-2023-QLS-M-USA-AUT-01,BJK Cup QLS R1: USA vs AUT,Hard,4,D,20230414,1,221103,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,4346.0,78.0,756.0
46656,2023-W-FC-2023-QLS-M-USA-AUT-01,BJK Cup QLS R1: USA vs AUT,Hard,4,D,20230414,2,202468,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5735.0,153.0,434.0
46657,2023-W-FC-2023-QLS-M-USA-AUT-01,BJK Cup QLS R1: USA vs AUT,Hard,4,D,20230414,3,202468,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5735.0,78.0,756.0